@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 236, 236, 230;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

main {
  color: rgb(var(--foreground-rgb));
}

.title {
  font-family: reitam, 游ゴシック体, "Yu Gothic", YuGothic,
    "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo,
    Osaka, "MS PGothic", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
